<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/main.js" defer></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Plant Shop</title>
  </head>
  <body>

    <div class="bg-dark-light text-light">
      <header class="fs-300">
        <nav>
          <div
            class="nav grid three-col container ff-accent"
            style="margin: 0 auto"
          >
            <!-- Possibly make this wider -->
            <div style="place-self: center start">Logo</div>
            <div class="flex" style="place-self: center center; --gap: 3em">
              <div class="dropdown">
                <button class="dropbtn">Plants</button>
                <div class="dropdown-content">
                  <a href="#">Lorem</a>
                  <a href="#">Lorem</a>
                  <a href="#">Lorem</a>
                </div>
              </div>

              <div class="dropdown">
                <button class="dropbtn">Tools</button>
                <div class="dropdown-content">
                  <a href="#">Lorem</a>
                  <a href="#">Lorem</a>
                  <a href="#">Lorem</a>
                </div>
              </div>

              <div class="dropdown">
                <button class="dropbtn">Care</button>
                <div class="dropdown-content">
                  <a href="#">Lorem</a>
                  <a href="#">Lorem</a>
                  <a href="#">Lorem</a>
                </div>
              </div>
            </div>

            <div class="flex" style="place-self: center end">
              <div><i class="fa-solid fa-magnifying-glass"></i></div>
              <div><i class="fa-solid fa-user"></i></div>
              <!-- <div><i class="fa-solid fa-cart-shopping"></i></div> -->
              <a href="cart.html">
                <div class="cart">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <div class="cartAmount" id="cartAmount">0</div>
                </div>
              </a>
            </div>
          </div>
        </nav>
      </header>
    </div>

    <div class="grid grid-store container">
      <% for(var i = 0; i < store.length; i++) {%>
      <div class="item">
        <img src=<%= store[i].img %> alt=<%=store[i]['alt text']%> />
        <button class="hidden-details btn best-btn" style="--fs: 1rem">
          Add to cart
        </button>
      </div>
      <% } %>
    </div>
  </body>
</html>
